<% if policy(Listing).create? %>
  <%= link_to "New listing", new_listing_path %>
<% end %>

<% @listings.each do |listing| %>
  <p><%= listing.title %></p>
  <p>Address: <%= listing.address %></p>
  <p>Price per night: AUD <%= listing.price_per_night %></p>
<% end %>
