.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;

}

li {
  list-style-type: none;
}

.avatar:hover {
  box-shadow: 10px black;
}
